<div class="jumbotron">
    <div class="container">
        <h1>About Me</h1>
        <p>Hey, I'm Stewart White. I live in Oregon, and have an awesome wife, two wonderful daughters, and a boy on the way. I've created this site to help people who feel like pathetic losers learn sweet skills. Skills are very important if you want to impress someone, or you really want to clone people so you can have friends.
        Maybe there's that someone special in your life, and you just haven't been able to get their attention, no matter how many times you break into their house and write on their bathroom mirror with red lipstick. Then you, my friend, have come to the right website. How do I know? Because I made it! Now, site back, click some links, and get ready to start saying, "Look what I can do!" to that clone of grandma that you made! </p>
    </div>
</div>
