<div class="jumbotron">
    <div class="container">
        <h1>About Me</h1>
        <p>Hey, I'm Stewart White. I live in Oregon, work at Facebook, and have an awesome wife, two wonderful daughters, and a boy on the way. Oh, and I also love taking courses on <a href="http://www.onemonth.com" target="_blank">OneMonth.com</a></p>
    </div>
</div>
